* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: #10698B;
	font-size: 1.6rem;
	margin-top: 5px;
	line-height: 2.9rem;
	font-weight: 700;
	letter-spacing: 0.05rem;
    margin: 5%;
}
.section-title {
	font-size: 4rem;
	color: rgb(0, 0, 0);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
    line-height: normal;
	text-align: center;
}
.section-title span {
	color: #55BEED;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 4px solid #F3A3C1;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #F3A3C1;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
.brand h1 span {
	color: #55BEED;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(246, 210, 106, 1);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #10698B;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url("C:\Users\sahaa\OneDrive\Desktop\Try Website\images\pattern.gif");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(241,203,226);
	opacity: 0.85;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 5rem;
    font-weight: bolder;
	position: relative;
	color: transparent;
	animation: text_reveal 0.1s ease forwards;
	animation-delay: 0.1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.3s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #F3A3C1;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
	font-size: 3rem;
	font-weight: 500;
    line-height: normal;
	letter-spacing: 0.05rem;
	margin-bottom: 10px;
	margin: 3%;
}
#about .col-right p {
	margin-bottom: 5px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 3rem;
}
/* End About Section */

/* What to expect Section */
#whattoexpect .whattoexpect {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#whattoexpect .whattoexpect-top {
	max-width: 500px;
	margin: 0 auto;
}
#whattoexpect .whattoexpect-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#whattoexpect .whattoexpect-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;v
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#whattoexpect .whattoexpect-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(50deg, #9873B1 0%, #F1CBE2 100%);
	opacity: 0.9;
	z-index: -1;
}
#whattoexpect .whattoexpect-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#whattoexpect .whattoexpect-item h2 {
	font-size: 2rem;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#whattoexpect .whattoexpect-item p {
	color: white;
	text-align: left;
}
/* End What to expect Section */

/* Merchandise section */
#merchandise .merchandise {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#merchandise .merchandise-header h1 {
	margin-bottom: 50px;
}
#merchandise .all-merchandise {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#merchandise .merchandise-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#merchandise .merchandise-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(70deg, #10698B 0%, #55BEED 100%);
	color: white;
}
#merchandise .merchandise-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#merchandise .merchandise-info p {
	color: white;
}
#merchandise .merchandise-img {
	flex-basis: 50%;
	height: 100px;
	overflow: hidden;
	position: relative;
}
#merchandise .merchandise-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #10698B 0%, #55BEED 100%);
	opacity: 0;
}
#merchandise .merchandise-img img {
	transition: 0.3s ease transform;
}
#merchandise .merchandise-item:hover .merchandise-img img {
	transform: scale(1.1);
}
/* End Merchandise section */

/* Timings Section */
#timings .timings {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#timings .col-left {
	width: 250px;
	height: 360px;
}
#timings .col-right {
	width: 100%;
}
#timings .col-right h2 {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#timings .col-right p {
	margin-bottom: 20px;
    letter-spacing: normal;
}
#timings .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#timings .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#timings .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #55BEED;
	z-index: -1;
}
/* End Timings Section */



/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 8px 0 #F3A3C1;
}
#contact .contact-info h1 {
    color: #9873B1;
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* footer Section */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #F1CBE2;
    padding: 100px 0;
}
.footer-col{
   width: 40%;
   padding: 0px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #9873B1;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
	color: #F3A3C1;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #F1CBE2;
	background-color: #ffffff;
}
/*End footer Section */

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* Keyframes */
@keyframes hamburger_pulse {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #55BEED;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

    	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 0px solid #55BEED;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* What to expect Section */
	#whattoexpect .whattoexpect-bottom .whattoexpect-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End What to expect Section */

	/* Merchandise */
	#merchandise .merchandise-item {
		flex-direction: row;
	}
	#merchandise .merchandise-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#merchandise .merchandise-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#merchandise .all-merchandise .merchandise-info {
		height: 100%;
	}
	#merchandise .all-merchandise .merchandise-img {
		height: 100%;
	}
	/* End Merchandise */

	/* Map */
	#map .map-item {
		flex-direction: row;
	}
	#map .map-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#map .map-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
    #map .all-map .map-img {
		height: 100%;
	}
	/* End Map */

	/* Timings */
	#timings .timings {
		flex-direction: row;
	}
	#timings .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#timings .timings .col-left .timings-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 0px solid #55BEED;
	}
	#timings .col-right {
		text-align: left;
		padding: 5px;
	}
	#timings .col-right h1 {
		text-align: left;
	}
	/* End timings */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#whattoexpect .whattoexpect-bottom .whattoexpect-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */